@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@font-face {font-family: cocosharp;src: url(./fonts/cocosharp.ttf);}
@font-face {font-family: cocosharp2;src: url(./fonts/cocosharp2.ttf);}
@font-face {font-family: hm;src: url(./fonts/hm.otf);}
head,body{overflow-y: inherit !important;}
body{
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    margin: 0;
    background-image: url('./images/background2.png');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    color:black !important;
}
.header a{
    text-decoration: none;
    color: inherit;
}

.header-wrapper{
    display:flex;
    justify-content: space-evenly;
    width:100%;
    padding:15px;
    margin-top:100px;
}
.header{
    height:100%;
    font-size: 20px;
    font-family:cocosharp;
    color:white;
    letter-spacing: 1.3px;
    text-shadow: 2px 1px black;
}
.header-home{
    color:rgb(255, 217, 0);
    margin-right:40px;
    position:relative;
    padding:10px;
}
#login_btn{
    cursor: pointer;
}
#login_btn3{display:none;}
.header-item{
    display: inline-block;
    color:white;
    margin-right:40px;
    position:relative;
    padding:10px;
}
.all{
    width:100%;
    margin-right:auto;
    margin-left:auto;
    height:100vh;
    display:flex;
    position:relative;
    justify-content: space-evenly;
    color:white;
    font-family: cocosharp;
}
.right-panel{
    width:38%;
}
.right-panel-headers{
    display:flex;
    justify-content: center;
}
.left-panel{
    width:45%;
    margin-top:15px;
    display:inline-block;
    text-align: center;
}
.left-panel2{
    width:70%;
    display:inline-block;
    text-align: center;
}

.ogloszenia-img{
    display:inline-block;
}
.row-wrapper{
    color:white;
    padding:15px;
    border:none;
    margin-top: 15px;
    display:inline-flex;
    cursor:pointer;
    width: 100%;
}
.row-wrapper img{
    width:25%;
    height:25%;
}
a{
    text-decoration: inherit;

}
.row-space{
    width:100%;
    font-family:cocosharp;
    font-size: 15px;
}
.row-tittle{
    display:flex;
    justify-content: space-between;
}
.more{
    display:flex;
    justify-content: center;
    width:100%;
    margin-top: 20px;

}
.more a{
    color:white;
    width:75%;
    background-color: rgb(44, 44, 44);
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}
.login-circle{
    background-color: rgb(51, 51, 51);
    border:3px solid white;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    left: 50%;
    margin-left:-200px;
    display:flex;
    position:absolute;
    top:200px;
    z-index: 5;
}
.choose{
    width: 33%;
    float: right;
    position:relative;
}
.button-login{
    text-align: center;
    border-radius: 50%;
    font-family: 'Pattaya', sans-serif;
    font-size: 22px;
    color:white;
    background-color: rgb(51, 51, 51);
    text-shadow: 3px 2px black;
    border:3px solid white;
    cursor:pointer;

}
.button-register{
    text-align: center;
    position: absolute;
    border-radius: 50%;
    font-family: 'Pattaya', sans-serif;
    font-size: 22px;
    color:white;
    background-color: rgb(51, 51, 51);
    text-shadow: 3px 2px black;
    border:3px solid white;
    cursor:pointer;
    bottom: 0;
    margin-left:-290px;
}
.button-close{
    text-align: center;
    position: absolute;
    border-radius: 50%;
    font-family: 'Pattaya', sans-serif;
    font-size: 22px;
    color:white;
    background-color: rgb(51, 51, 51);
    text-shadow: 3px 2px black;
    border:3px solid white;
    cursor:pointer;
    bottom: 0;
    width:110px;
}
.active{
    background-color:#cca43d;
}

.login-holder{
    padding-top: 90px;
    padding-left: 120px;
    width:50%;
}
.register-inputs{
    margin-top: -40px;
}
.register-inputs a{
    text-decoration: none;
    color:#cca43d;
}
.register-inputs input{
    height:35px;
}
.register-inputs [type=submit]{
    height:45px;
}

input[type=text], select,input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid white;
    border-radius: 8px;
    box-sizing: border-box;
    text-align: center;
}
  
input:focus { 
    outline: none !important;
    border-color: #cca43d;
    box-shadow: 0 0 10px #cca43d;
}
  
input[type=submit] {
    width: 100%;
    background-color: #cca43d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
input[type=button] {
    width: 100%;
    background-color: #cca43d;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #dab350;
}
#add-input{
    border: 2px solid #cca43d;
}
.video{width:47vw;height:23vw;margin-top:20px;margin-bottom:20px;}
.invisible{
    visibility: hidden;
    display: none;
    opacity:0;
}
.visible{
    display: block;
    visibility: visible;
    opacity:1;
    z-index:10 !important;
}
.visible-flex{
    display: flex;
    visibility: visible;
}
.appear{
    animation-name:show;
    animation-duration: .5s;
}
.dissapear{
    animation-name:disappear;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

.main-row-wrapper{
    color:white;
    text-shadow: 2px 1px black;
    display:inline-flex;
    width:73%;
    margin-right:auto;
    margin-left:auto;
    display:flex;
    position:relative;
    justify-content: space-between;
}
.gallery-wrapper{
    background-color: rgb(43, 43, 43);
    width:45vw;
    height:20vw;
    display:flex;
    justify-content: center;
}
.row-description{
    background-color: rgb(43, 43, 43);
    width:45vw;
    height:20vw;
    display:block;
    justify-content: center;
}
.row-description h1{
    text-align:center;font-family:cocosharp;color:white;text-decoration:overline dotted white;
}
.row-main-img{
    max-width:80%;
}
.row-user{
    width:100%;
    font-family:cocosharp;
    font-size: 0.7vw;
    margin-left:20px;
    background-color: rgb(43, 43, 43);
    max-height:20%;
    margin-bottom: 20px;
    min-height:27vh;
}

.borders{
    border-top:20px solid rgb(43, 43, 43);
    border-bottom:20px solid rgb(43, 43, 43);
    border-left:20px solid rgb(43, 43, 43);
    border-right:20px solid rgb(43, 43, 43);
    border-radius: 5px;
}

.user-info{
    width:30%;
    display:block;
}
.user-img{
    width:5vw;
    height:5vw;
}
.user-img img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius: 50%;
}
.user-location{
    width:100%;
    display:block;

}
.location-img{
    width:150px;
    height:115px;
    float:right;
}
.location-img img{
    width:100%;
    height:100%;
    border-radius: 10%;
}
.header-wrapper-mobile{visibility:hidden;}
.header-wrapper-open{visibility:hidden;}
.mobile-header-logo{visibility:hidden;display:none;}
.row-wrapper-all{
    color:white;
    padding:15px;
    border:none;
    margin-top: 15px;
    display:flex;
    cursor:pointer;
    width: 66%;
}
.all2{width:100%;position:relative;display:flex;justify-content: center;}
.row-wrapper-all img{
    width:25%;
    height:25%;
}
.row-space-all{
    width:100%;
    max-height:200px;
    font-family:cocosharp;
    font-size: 15px;
    margin-left:15px;
}
.row-tittle-all{
    display:flex;
    justify-content: space-between;
}
.img-space{
    object-fit:fill;
    width:10vw;
}
.img-space img{
    width:100%;
    height:100%;
    
}
.search-wrapper{
    width:100%;
    display:flex;
    justify-content: center;
}
.search-panel{
    width:66%;
    background: rgb(43, 43, 43);
    height:200px;
    z-index: 4 !important;
    padding-left:20px;
    box-sizing: border-box;
    border-radius: 5px;
    position:relative;
}
.search-panel h1, h2, h3{
    color:white;
    
}
.search-button{
    width:25%;
}
#filter{
    top:120px;
    position:absolute;
    background-color: #cca43d;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-left:-20px;
    width:175px;
    z-index:0;
}
#town{
    background-color: inherit;
    color:white;
    border:none;
    padding:10px;
    font-family: cocosharp;
    font-size:14px;
}
#town:hover{
    background-color: rgb(80, 77, 77);
}
.option{
    background-color: rgb(43, 43, 43);
    color:white;
    position:absolute;
}
.list{
    color:white;
    text-align: left;
    display:flex;
    justify-content: space-around;
    width: 100%;

}
.categories-wrapper{
    min-width:204px;
    position:relative;
    margin-bottom:-250px;
}
.category-name:hover{
    background-color: rgb(80, 77, 77);
}
.cp_widget_title:hover{
    background-color: rgb(80, 77, 77);
}
.category-name{
    display:flex;
    justify-content: space-between;
    padding:10px;
    cursor: pointer;
    background-color:rgb(43, 43, 43);
}
.cp_widget_title{
    display:flex;
    justify-content: space-between;
    padding:10px;
    cursor: pointer;
    background-color:rgb(43, 43, 43);
}
.categories{
    background-color:rgb(61, 60, 60);
    display:inline-block;
    width:100%;
}
.categories-wrapper::before{
    content:"Kategoria";
    position:absolute;
    top:-42px;
    left:-50px;
    font-family: cocosharp;
    font-size: 18px;
}
@media all and (min-width: 1024px) and (max-width: 1580px) { 
    .img-space{width:20vw;}.video{width:47vw;height:23vw;margin-top:20px;margin-bottom:20px;} .row-main-img{max-width:66%;} .gallery-wrapper{width:45vw;height:20vw;}.row-user{min-height:18vh;}.location-img{margin-top:-20px;width:120px;height:85px}.all{min-width:100%;justify-items: space-around;}.left-panel{width:55%;}.right-panel{margin-left: 20px;width:100%;}.header-home{margin-right:0px;}.header-item{margin-right:0px;}.all{margin-top:-100px;width:100%;margin-left:30px;}.right-panel{width:70%;margin-right:6%;}.header{font-size: 16px;}.logo img{width:100%;}.header-wrapper{justify-content: space-around;}
  }
    @media all and (min-width: 481px) and (max-width: 1023px) { 
        #open i{transition:0.5s;position:absolute;margin-top:16px;font-size:26px;border-radius:7px;} #filter{top:200px;left:100px;}.categories-wrapper{min-width:204px;}.search-panel{width:93.5vw;height:300px;}.row-description{width:83.5vw;height:50vw;}.user-img{width:20vw;height:20vw;}.row-wrapper-all{width:95%;} .img-space{width:50vw;height:25vw;}.location-img{margin-top:-37px;}.mobile-header{font-size: 22px;padding-top:15px;display:flex;justify-content: space-evenly;}.hide-menu{margin-top:-73px;transition:.5s}.show-menu{top:0;transition:.5s} html, body {overflow-x: hidden;} body{position:relative;}.mobile-header{width:100%;font-family: cocosharp;font-size:15px;visibility:visible;margin-top:0;}.header-wrapper{visibility:hidden;display:none;}.mobile-items{display:flex;padding:10px;}.header-wrapper-open{display:inline-block;visibility:visible;height:40px;width:70px;font-family:cocosharp;font-size:16px;background-color: #cca43d;position:absolute;display:flex;justify-content: center;margin-left:50%;left:-35px;}.header-wrapper-mobile{width:100%;z-index:5;position:fixed;visibility: visible;top:0;background-color:rgba(82, 81, 81, 0.582);}.mobile-header-logo{width:100%;display:flex;justify-content: center;visibility:visible;margin-top:100px;}.mobile-header-logo img{width:80%;}.row-user-location{margin-left:0px;}.row-user{margin-left:0px;}.user-info h3{font-size:17px;}.user-info h2{font-size:19px;}.user-info{width:95%;margin-left:0;margin-top:9%;}  .row-main-img{max-width:80%;} .gallery-wrapper{width:83.5vw;height:50vw;}.center{display:flex;justify-content: center;} .main-row-wrapper{margin-top:19%;display:block;width:90%;} .video{width:100%;height:100%;}.all iframe{width:100%;margin-bottom:50px;display:inline-block;}.all{display:block;width:100%;}.right-panel{width:100%;}.right-panel img{float:left;}.left-panel{width:100%;}
    }

     @media only screen and (max-width: 480px) {
     #open i{transition:0.5s;position:absolute;margin-top:16px;font-size:26px;border-radius:7px;}.z-index0{z-index:0;}.z-index10{z-index:10 !important;position:relative;}.town-wrapper{margin-bottom:25px;}.categories-wrapper::before{margin-top:20px;margin-left:50px;}#town{position:relative;margin-top:-170px;} .categories-wrapper{padding-top:30px;max-width:204px;position:relative;margin-top:40px;z-index:3;}.search-button{max-height:70px;display:flex;width:100%;justify-content: center;margin-top:-230px;position:relative;}#filter{width:88px;position:relative;z-index:3;}.list{margin-top:20px;display:inline-block;}.search-panel{width:95vw;height:400px;}.row-description{width:83.5vw;height:50vw;}.user-img{width:20vw;height:20vw;}.row-tittle-all{display:inline-block;}  .row-wrapper-all{width:95%;} .img-space{width:50vw;height:25vw;} .location-img{margin-top:-37px;}.img-text{max-height:200px;}.hide-menu{margin-top:-99px;transition:.5s}.show-menu{z-index:6;top:0;transition:.5s;display:block;visibility: visible;} html, body {overflow-x: hidden;} body{position:relative;}.mobile-header{width:100%;font-family: cocosharp;font-size:15px;visibility:visible;margin-top:0;}.header-wrapper{visibility:hidden;display:none;}.mobile-items{display:flex;padding:10px;}.header-wrapper-open{display:inline-block;visibility:visible;height:40px;width:70px;font-family:cocosharp;font-size:16px;background-color: #cca43d;position:absolute;display:flex;justify-content: center;margin-left:50%;left:-35px;}.header-wrapper-mobile{font-size:15px;z-index:5;position:fixed;visibility: visible;top:0;background-color:rgba(82, 81, 81, 0.76);}.mobile-header-logo{display:flex;justify-content:center;visibility:visible;margin-top:100px;}.mobile-header-logo img{width:80%;}.video{width:100%;height:100%;}.all iframe{width:100%;margin-bottom:150px;display:inline-block;}.row-user-location{margin-left:0px;}.row-user{margin-left:0px;}.user-info h3{font-size:17px;}.user-info h2{font-size:19px;}.user-info{width:88%;margin-left:0;margin-top:9%;}  .row-main-img{max-width:80%;} .gallery-wrapper{width:83.5vw;height:50vw;}.center{display:flex;justify-content: center;} .main-row-wrapper{margin-top:19%;display:block;width:90%;} .lds-hourglass{left:125px;top:110px;} .lds-hourglass:after{border: 32px solid white;border-color: white transparent white transparent;}.all{min-width:100%;}.aktualnosci{display:none;}.all iframe{width:100%;height:30%;}.all{display:block;}.right-panel{width:100%;}.right-panel img{float:left;}.left-panel{width:100%;}.row-space{overflow-x:hidden;font-size:10px;}.right-panel{margin-left: 0px;}.right-panel img{display:block;}
     }














































     /* animacje */
     .arrow-rotate{
        transform: rotate(180deg);
        transition:0.5s;
      }
     .pulse{
        animation: pulse-animation 1.1s infinite;
      }
      
@keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba(238, 255, 0, 0.664);
    }
    100% {
        box-shadow: 0 0 0 10px rgba(238, 255, 0, 0);
      }
  }
.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background:linear-gradient(to right, transparent, white, transparent);
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
  }  
.lds-hourglass {
    position: absolute;
    width: 80px;
    height: 80px;
    left:160px;
    top:150px;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #cca43d;
    border-color: #cca43d transparent #cca43d transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
  @keyframes disappear{
    0% {
    opacity:1;
    transform: scale(1, 1);
    }
    100%{
    opacity:0;
    visibility:hidden;
    transform: scale(0.5, 0.5);
    }
}
@keyframes show{
    0% {
    transform: scale(0.5, 0.5);
    opacity:0;
    }
    100%{
    opacity:1;
    visibility:visible;
    }
}
.message{
    background-color: rgb(37, 37, 37);
    color:white;
    position:fixed;
    text-align: center;
    width:100%;
    height:22px;
    padding:13px;
    top:0px;
    animation-name:dissapear;
    animation-fill-mode: forwards;
    animation-duration: .7s;
    animation-delay: 3s;
}
@keyframes dissapear{
    0%{opacity:1;}
    100%{opacity:0;visibility:hidden;}
}
